<span class="warning"><a href="installation">Remember to read the installation instructions!</a></span>

<h2>Users of qwebirc</h2>

If you end up running a public qwebirc instance we'd love you to add yourself to our <a href="http://hg.qwebirc.org/qwebirc/wiki/Users_of_qwebirc">users of qwebirc list</a>! 

<h2>Downloading using git</h2>

You can check out the source code using <a href="https://git-scm.com/">git</a>:
<pre>git clone https://github.com/qwebirc/qwebirc.git &lt;directory&gt;</pre>

You can then update to new versions just by typing:
<pre>git pull</pre>

<h2>File downloads</h2>

We <strong>strongly</strong><!-- gettit?! =) --> recommend you check the source code out using git, this will allow you to update to later versions trivially, if you insist on downloading the following files are provided.

<h4>Latest version</h4>
<ul>
<li><a href="download-master-zip">Download in zip format.</a></li>
</ul>

<h2>Your changes!</h2>

If you've made modifications we'd love to hear about them (and integrate them into our version!)<br/>
You can fork the project on Github and then create a pull request with your changes.<br/><br/>
