<a name="general" />
<h3>General questions</h3>

<h4>Who is this website aimed at?</h4>

This site and the downloads on it aimed at IRC network administrators.<br/>
The qwebirc frontend is designed to be used by anyone, if you're just trying to add webchat on your website, type <tt>/EMBED</tt> inside a <a href="http://webchat.quakenet.org">qwebirc instance</a>.

<h4>What does qwebirc run on?</h4>

The backend should run on anything that supports Python and Twisted, it has been tested on Linux, FreeBSD and Windows (XP and above).<br/>
qwebirc is developed for QuakeNet's ircd: <a href="http://quakenet.org/development">snircd</a>; people have reported success on ircu and its derivatives, hyperion, charybdis, ratbox and UltimateIRCd, and in theory it should work on any <a href="http://www.faqs.org/rfcs/rfc1459.html">RFC 1459</a> compliant ircd.<br/>
The frontend is tested on IE6, IE7, IE8, Firefox 3, Opera 10, Safari and Chrome.<br/>

<h4>How do I get started?</h4>

Go to the <a href="installation">installation page</a> above.

<a name="warnings" />
<h4>I get warnings while running compile.py about java or git, what are these?</h4>

If the warnings are about hg not being able to generate an id, or not being able to minify you can ignore them (with some pitfalls)!<br/>
Normally qwebirc attempts to extract which version you are running (technically which changeset id), and uses that as part of the filename for the compiled JavaScript in an attempt to stop people having to download stuff that hasn't changed.
It also attempts to shrink the size of the JavaScript so it will download faster.<br/><br/>

As previously mentioned you can ignore both of these warnings, but if you're seriously looking to deploy qwebirc on a public site you really should install <a href="http://java.com/en/download/index.jsp">Java</a> for minification, and git for version tagging.

<h4>I messages about Deprecation, what are these?</h4>

You can completely ignore these warnings, they have no effect whatsoever.<br/>
qwebirc uses md5 instead of hashlib so it can work on older versions of Python.

<h4>How do I set up SSL support?</h4>

Install <a href="http://openssl.org">OpenSSL</a> (most UNIX systems have it by default, Shining Light Productions offer a <a href="http://www.slproweb.com/products/Win32OpenSSL.html">version for Windows</a>) and <a href="http://sourceforge.net/project/showfiles.php?group_id=31249">pyOpenSSL</a>.<br/>
You can then pass your PEM encoded certificate and key into run.py using the -C and -k options.

<h4>I'm getting errors about dropin.cache.new when I run run.py!</h4>

This is because your distro hasn't packaged twisted correctly (c.f. <a href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=477103">Debian bug report</a>).
You can fix it by running <tt>twistd --help</tt> as root, if that doesn't work try the following:
<pre>python -c 'from twisted.plugin import IPlugin, getPlugins; list(getPlugins(IPlugin))'</pre>

<h4>Port 9090?! I want it to run as a VirtualHost in my existing webserver configuration, how?</h4>

First, this is a bad idea, because Apache and most other webservers are not designed for large amounts of long-lived connections (like IRC connections).
Conventional threaded or multi-process webservers (like Apache) will not be able to cope with more than a few dozen webchat users without falling over (and mostly likely 
taking your other websites down at the same time)!<br/>
qwebirc uses its own embedded webserver which uses non-blocking multiplexing, and can cope with thousands of users easily, QuakeNet runs qwebirc on its own IP 
address.<br/><br/>

Now if you really want to run qwebirc behind Apache, look at the mod_proxy documentation, but it's a really bad idea!

<h3>Administration</h3>

<h4>How can I see what qwebirc is doing?</h4>

You can see basic information in the admin engine, visible at http://yourmachine:yourport/adminengine<br/><br/>

Note that by default this is IP limited to 127.0.0.1, this is configurable in config.py (the ADMIN_ENGINE_HOSTS option).
