<ul>
<li>qwebirc is an AJAX IRC client.</li>
<li>Open source (GPLv2).</li>
<li>Supports most ircds out of the box.</li>
<li>Multiple channels and queries.</li>
<li>Nick list with menus.</li>
<li>Scalability via trivial sharding with sticky sessions.</li>
<li>Cross platform (pure Python), so works under Linux, FreeBSD, Windows, and probably more platforms.</li>
<li>SSL/TLS support for the browser and server.</li>
<li>Supports hot-reconfiguration of backend servers via <a href="http://hg.quakenet.org/hadns/">hadns</a>.</li>
<li>Embedded webserver (no messing around with your existing webserver).</li>
<li>Optional dedicated message and/or notice windows.</li>
<li>Irssi style /msg, query, channel and nickname autocompletion (sorted correctly by last used/spoke order).</li>
<li>Passes user hostnames through directly to the IRC server via the WEBIRC/CGIIRC commands.</li>
<li>Keyboard shortcuts for window selection (alt+a, alt+1..0).</i>
<li>Irssi style global input history.</li>
<li>Mouse wheel on tabs.</li>
<li>Unicode (UTF-8) support.</li>
<li>Clickable channels, links and authnames.</li>
<li>mIRC colour/underline/bold support.</li>
<li>Minimalistic design with a neutral colour scheme.</li>
<li>Irssi style multiple highlight levels.</li>
<li>Wizard to allow users to easily embed the client into their own websites.</li>
<li>Theming support.</li>
<li>Notifications via sound and/or title/icon flashing.</li>
<li>Direct user feedback support via email.</li>
<li>Admin interface, allows viewing and control of connected users.</li>
<li>Limited support for authserv/nickserv/chanserv.</li>
<li>Heavily optimised to minimise bandwidth, cpu usage and browser load-time.</li>
<li><i>Coming soon: multiple server support.</i></li>
</ul>
