qwebirc is a fast, easy to use, free and open source IRC client designed by and originally just for the <a href="http://www.quakenet.org/">QuakeNet IRC network</a>.

<h3>News</h3>

<h4>2017-07-25: move to git and github</h4>

After many years on Mercurial and Bitbucket: the project has moved to git and Github.

<h4>2012-02-15: various updates</h4>

Recent additions to qwebirc since last news post:
<ul>
  <li>CTCP website support</li>
  <li>Nicklist hiding support in widget</li>
  <li>User-friendly nickname validation</li>
  <li>IE9 support</li>
  <li>support for server SSL connections.</li>
  <li>adaptive timeout for COMET connections (saves a lot of bandwidth).</li>
  <li>experimental: API for external commands (currently only /SAY).</li>
  <li>experimental: more theming support.</li>
  <li>IPv6 proxy support</li>
  <li>in progress: multiple server support (multiserver branch).</li>
</ul>

<h4>2009-06-20: SSL!</h4>

SSL support has been added, so now you can use qwebirc over https.

<h4>2009-06-06: New features</h4>

Some new experimental features have been added, including notification by favicon/titlebar flashing, operator menus, and dependency checking (should make installation clearer).

<h4>2009-04-12: WEBIRC style blocks</h4>

qwebirc now supports WEBIRC style blocks, allowing hostname setting on most ircds, as well as ASCII case-mapping.

<h4>2009-03-18: Initial release</h4>

qwebirc's source code has finally been released to the public under the GPLv2!<br/>
Feel free to download and have a play.
